<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h1>{{ main.greeting }}</h1>
    <p class="lead">
      {{main.shared.message}} <br>
      {{main.shared.message|reverse}}
    </p>
  </div>

  <div class="row">
    <input type="text" class="center-block" ng-model="main.greeting">
    <input type="text" class="center-block" ng-model="main.shared.message">
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>