<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h1>{{ second.greeting }}</h1>
    <p class="lead">
      {{second.shared.message}}
    </p>
  </div>

  <div class="row">
    <input type="text" class="center-block" ng-model="second.greeting">
    <input type="text" class="center-block" ng-model="second.shared.message">
  </div>

  <hr>
  <h3>search - custom filter</h3>
  <input type="text" ng-model="search" placeholder="Search for"> <br><br>

  <table>
    <tr ng-repeat="actor in ave.cast | filter: search">
      <td>{{actor.name}}</td>
      <td>{{actor.character}}</td>
    </tr>
  </table>

  <h3>orderBy name or character</h3>
  <form>
    <input type="radio" name="order" value="name" ng-model="order"> Order by Name
    <input type="radio" name="order" value="character" ng-model="order"> Order by character
  </form> <br>

  <table>
    <tr ng-repeat="actor in ave.cast | orderBy:order">
      <td>{{actor.name}}</td>
      <td>{{actor.character}}</td>
    </tr>
  </table>

  <composeEmail></composeEmail>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>